[2019-10-06 21:24] Swap76 opened #1 "Setup Docsify in the project"
Setup Docsify in Project

If you are working on this then please comment here this will save doubling of the work.

[2019-10-06 21:25] Swap76 opened #2 "Create Sidebar in Docsify"
The contents and orders are written in order.txt

There are 3 order.txt each represents the flow in its directory

If you are working on this then please comment here this will save doubling of the work.

[2019-10-06 21:27] Swap76 opened #3 "Convert pages from .js to .md in presentable manner"
Convert pages from .js to .md in presentable manner

Anyone can take any file for conversion but make sure you store conversions into docs and the specified file

If you are working on any file then please comment here this will save our efforts.

[2019-10-06 21:28] Swap76 opened #4 "Fix typos in the .md files"
The typos should be eliminated from all files

[2019-10-06 21:29] Swap76 opened #5 "Adding new Concepts"
Add Concepts into its respective place like Basic, Advance

[2019-10-06 21:30] Swap76 opened #6 "Add more examples and outputs"
Add more examples for understanding with output

[2019-10-07 00:26] alsd4git commented on #4
i can take this one

[2019-10-07 09:03] alsd4git commented on #4
made a pull request #10 that should fix the issue

[2019-10-07 09:10] Swap76 commented on #4
Merged pull request from @alsd4git

[2019-10-07 09:10] #4 closed

[2019-10-07 16:52] Swap76 opened #16 "Add ESlint into project and add the command for linting and fixing"
**Add ESlint into the project with following rules**
- 2 space tab allowed
- line break of only one line allowed in code
- No line breaks at the end of file
- ES6 syntax
- single quotes only
- semicolon always

also, add .eslintignore
which will exclude node_modules and *.json file and any other if needed

If you are working on the issue let me know through the comment will assign the issue to you

[2019-10-07 16:58] MarineP31 commented on #16
I'll like to help you !

[2019-10-07 16:59] pavitra14 commented on #16
I'm Working on this :)

[2019-10-07 17:07] Swap76 commented on #16
Hey guys,

It's ok if you both work on this as @pavitra14 you haven't mentioned your presence before @MarineP31.

Best PR amongst you both will be Merged

[2019-10-07 17:09] pavitra14 commented on #16
Can you please elaborate the 2nd point if it's not too much trouble :)
"line break only one code"

[2019-10-07 17:12] Swap76 commented on #16
Hey @pavitra14,

Updated the description sorry for the inconvenience from my side

[2019-10-07 21:14] Swap76 commented on #1
@p-siriphanthong  Done Great Job :-)

[2019-10-07 21:14] #1 closed

[2019-10-07 21:15] Swap76 commented on #2
@p-siriphanthong  has done a great job

[2019-10-07 21:15] #2 closed

[2019-10-08 13:13] Swap76 opened #19 "Add Async Await Example info"
Create a new file named async-await in JavaScript_Advanced and add the following:

- Why use async-await (Code before and after async-await)

- More info if there and make a request to open API with async-await

If anyone is taking the issue please comment to save efforts of others

[2019-10-08 13:18] rishabhnehra commented on #19
Would like to contribute to this

[2019-10-08 13:36] Swap76 commented on #19
@rishabhnehra You can start working on it will assign it to you

[2019-10-08 13:38] Swap76 commented on #19
@rishabhnehra  Create .md file as we are shifting to docsify

[2019-10-08 14:11] Swap76 opened #20 "Add try catch example with info"
Create a new file named try-catch in JavaScript_Advanced and add the following:

Why use try-catch

More info if there and make a request to open API with try-catch

If anyone is taking the issue please comment to save efforts of others

[2019-10-08 14:14] Swap76 opened #21 "Add callback example with info"
Create a new file named callback in JavaScript_Advanced and add the following:

Where callbacks are used

Also, discuss the problem of callback hell

More info if there and make a request to open API with callbacks

Create .md file as we are shifting to docsify

Have a .js file which can be executed separately and .md also

If anyone is taking the issue please comment to save efforts of others

[2019-10-08 14:15] Swap76 opened #22 "Add promise chaining example with info"
Create a new file named promise-chaining in JavaScript_Advanced and add the following:

Where we use promise-chaining

More info if there and make a request to open API with promise chaining

If anyone is taking the issue please comment to save efforts of others

Create .md file as we are shifting to docsify

[2019-10-08 14:18] Swap76 opened #23 "Add Map & Set example and info in JavaScript"
Create a new file named map&set in JavaScript_Advanced and add the following:

How to use map&set

What is the use of map&set

Discuss about Weakmap & Weakset

If anyone is taking the issue please comment to save efforts of others

[2019-10-08 14:19] NeboCode commented on #22
I want to do this one 👍

[2019-10-08 14:19] Swap76 commented on #23
Create .md file as we are shifting to docsify

[2019-10-08 14:19] Swap76 commented on #21
Create .md file as we are shifting to docsify

[2019-10-08 14:19] Swap76 commented on #20
Create .md file as we are shifting to docsify

[2019-10-08 14:21] NeboCode commented on #22
Sure!

[2019-10-08 14:44] Swap76 commented on #22
@NeboCode have a .js file which can be executed separately and .md also

[2019-10-08 14:47] Swap76 commented on #3
@piyushpriyadarshi Great store them separately .md in docs/* and .js file in main directly in JavaScriptAdvance

[2019-10-08 14:49] NeboCode commented on #22
Will do 👍

[2019-10-08 15:21] rishabhnehra commented on #19
Sure @Swap76

[2019-10-08 15:43] #16 closed

[2019-10-08 16:30] cyh0968 commented on #23
Okay, then I will try this!

[2019-10-08 16:43] Swap76 commented on #23
@cyh0968 Start working on it will assign you to the issue

[2019-10-08 21:24] Omkaragrawal commented on #5
Hey, I would like to add concepts for hoistings in Javascript.

[2019-10-09 14:52] Swap76 commented on #5
@Omkaragrawal Can you specify what you are adding so that I will create a separate issue and will assign you there.

[2019-10-09 16:31] jamesaspence commented on #22
I can take this ticket. Please assign to me.

[2019-10-09 16:34] Swap76 commented on #22
@jamesaspence Assigned a small request will while writing JS use ES6

[2019-10-09 18:28] Swap76 opened #27 "Setup Express with a route"
Setup Express for creating a server

Create a route and controller for the route

Add .js and .md both

[2019-10-09 18:28] Swap76 opened #28 "Connecting to MongoDB"
Connect to MongoDB show good practices of Debugging while connecting

Create Both .js and .md file

[2019-10-09 18:28] Swap76 opened #29 "Connecting to Postgres"
Connect to Postgres using good practices such as debugging

Add both .js and .md file

[2019-10-09 18:29] Swap76 opened #30 "JSON Parsing and Stringify"
Request to Open API and show how to use parsing

Where to use Stringify method

Add .js and .md both

[2019-10-09 18:39] EddyVinck commented on #30
Hi, I could do this.

I have a few questions:
1. By "Stringify", do you mean `JSON.stringify()`?
2. Where should the .js and .md files go?

[2019-10-09 18:45] Swap76 commented on #30
Yes correct Stringify means I want to say JSON.stringify()

.js file should be going in the JavaScript_Advance folder which will contain code for the request to open API

.md will be in ./docs/JavaScript_Advance there you can place info like

- when we use this

- how to use and can reference the .js code there

If you have any idea for taking this module ahead please let me know

[2019-10-09 18:51] EddyVinck commented on #30
Ok, I will start working on this. If I have any ideas or suggestions I will let you know!

[2019-10-09 18:54] Swap76 commented on #30
Great :-)

[2019-10-09 19:30] andregallacci commented on #27
I will start solving this issue, how should I create the .md?

[2019-10-09 19:39] hieetesh commented on #5
@Swap76 I have added looping-through-an-object.

[2019-10-09 20:03] Omkaragrawal commented on #5
@Swap76  I will be adding concepts as well as codes, to make an understanding of hoistings in js.

[2019-10-09 20:11] EddyVinck commented on #30
@Swap76 Can you take a look? I submitted a pull request

[2019-10-09 20:50] andregallacci commented on #27
I have a problem, the issue #16  is preventing any commit from being done as it needs the entire project to conform to eslint standards.

[2019-10-09 21:10] n1rna commented on #21
I would like to take this one :)

[2019-10-09 21:15] andregallacci opened #33 "To fix errors of files shown by eslint"
Fix the errors in the files shown by eslint as they are preventing any other issues from being completed.

[2019-10-09 21:20] IJustDev commented on #28
I'll do it.

[2019-10-09 21:57] Swayamsvk commented on #5
I will work on it.

[2019-10-10 03:58] MGenteluci commented on #5
@Swap76 I would like to add How to Filter an Array using the filter method.

[2019-10-10 04:19] #30 closed

[2019-10-10 04:21] Swap76 commented on #27
@andregallacci can you tell me steps to reproduce it as others have submitted the PR's for them its working

[2019-10-10 04:23] Swap76 commented on #27
@andregallacci Create .md in docs/JavaScript_Advance

There you can write about the express and any other things related to that

If the answer does not satisfy your requirements please elaborate the question

[2019-10-10 04:26] Swap76 commented on #21
Great will assign it to you :-)

Please follow the instructions if you have a better idea of implementing it please let me know.

[2019-10-10 04:27] Swap76 commented on #33
@andregallacci Please give me the steps to reproduce it I will sort the things out ASAP

[2019-10-10 04:28] Swap76 commented on #28
@IJustDev Great I assigned the issue to you

Will check the PR

[2019-10-10 04:34] Swap76 commented on #5
@Omkaragrawal I am making a separate issue for this comment there I will assign it to you there for tracking progresses

[2019-10-10 04:36] Swap76 opened #36 "Adding hoistings in JavaScript"
Create a new file named hoistings in JavaScript_Advanced and add the following:

- Where we use hoistings in js

- More info if there about hoistings

- Create .md file as we are shifting to docsify

[2019-10-10 04:40] Swap76 commented on #5
@Swayamsvk Please let me know what you are working will add the same in the issues with description :-)

[2019-10-10 04:47] Swap76 opened #37 "Adding How to Filter an Array using the filter method"
Create a new file named FilteringArray in JavaScript_Advanced and add the following:

- Where we use the filter method

- More info if there about filter method

- Create .md file as we are shifting to Docsify

[2019-10-10 04:47] Swap76 commented on #5
Hey @MGenteluci Go ahead with I have created #37 new issue for you to track the progress

[2019-10-10 06:31] er-raoniz commented on #3
@Swap76
I would like to convert some files from `js` to `md`. Would you please help me out with the exact procedure for the same?

[2019-10-10 07:00] Swap76 commented on #3
@er-raoniz Please le tme know which files you want to convert then I will convert seprate issue to keep track of the work

The converstion has following steps:

- Add examples related to that concept in the respective folder JavaScriptBasics or JavaScriptAdvance

- If info is there like uses and benefits etc add that as .md into docs folder

[2019-10-10 07:04] Swap76 opened #38 "Adding Splice and Slice"
Create a new file named Splice and Slicein JavaScript_Advanced and add the following:

- Where we use Splice and Slicein js

- More info if there about Splice and Slice

- Create .md and .js both files as we are shifting to Docsify

[2019-10-10 07:12] hieetesh commented on #38
I will do it :)

[2019-10-10 07:16] Swap76 commented on #38
@hieetesh assigned

[2019-10-10 07:23] Swap76 opened #39 "Adding Date, Date Format, GET,SET methods of Date"
Create the file named Date in JavaScript_Basics and add the following:

- Where we use the date

- More info about date format

- Add get set methods of date

- Create .md and .js  file as we are shifting to Docsify

[2019-10-10 07:25] Swap76 opened #40 "Add Switch Cases in Javascript"
Create the file named Switch in JavaScript_Basics and add the following:

- Where we use the Switch

- More info about Switch

- Create .md and .js  file as we are shifting to Docsify

[2019-10-10 07:27] Swap76 opened #41 "Add Regex example and info"
Create a new file named Regex in JavaScript_Basics and add the following:

- Where we use the Regex

- More info if there about Regex

- Create .md and .js both files as we are shifting to Docsify

[2019-10-10 07:30] andregallacci commented on #33
@Swap76
Because of the pre-commit hook configured in the application, it is not possible to commit without the entire project complying with the eslint standard.

The idea then is to check the errors pointed out by eslint and fix them

The problem is that one of the errors is because there is no transpiler for es6 in the project (arrow function is not recognized), so in addition to fixing eslint "

[2019-10-10 07:36] maddyBoy opened #42 "Add substr and substring in Javascript"
Can we add uses of `substr and substring` as well?

[2019-10-10 07:42] Sbabureddy commented on #39
I can work on it?

[2019-10-10 07:53] sliee17 commented on #37
Can I work on this one?

[2019-10-10 08:06] sapsa07 commented on #39
Can I work on it?

[2019-10-10 08:11] sliee17 commented on #5
@Swap76 Can I add mapping of arrays using map method

[2019-10-10 08:16] sapsa07 commented on #40
Lets do this

[2019-10-10 08:19] Swap76 commented on #33
@andregallacci Is you repo upto date with the repo as currently with the updated version we are not facing the problem others are also making pull requests flawlessly

[2019-10-10 08:21] Swap76 commented on #42
Create a new file named substr in JavaScript_Basics and add the following:

- Where we use the substr

- More info if there about substr

- Create .md and .js both files as we are shifting to Docsify

[2019-10-10 08:22] Swap76 commented on #41
@Sbabureddy Great I have assigned the issue to you

[2019-10-10 08:25] Swap76 commented on #39
@sapsa07 I am assigning this to you as @Sbabureddy is already working on #41

[2019-10-10 08:28] Swap76 opened #43 "Add Mapping of arrays using map method"
Create a new file named Map in JavaScript_Basics and add the following:

- Where we use the map

- More info if there about map

- Create .md and .js both files as we are shifting to Docsify

[2019-10-10 08:28] Swap76 commented on #5
@sliee17  I have Created #43 Comment there will assign the issue there

[2019-10-10 08:30] er-raoniz commented on #3
@Swap76
Oh, I see. Only those in the *docs* folder need to be in `markdown`, the example files would be in `.js`?
Still, I guess the *Exercise-1.txt* file in the *JavaScriptBasics* folder needs to be in `markdown`?

[2019-10-10 08:32] Swap76 commented on #40
Hey @maddyBoy and @sapsa07 you can both work on the same issue then I have o take best from you 2.
I will advice you can take different issues if you are unable to find what you want let me know I will Add it

[2019-10-10 08:35] Swap76 commented on #3
Yes only pages from docs should be markdown

and yes the Exercise-1.txt should have to be in mardown under new Section called Exercise

@er-raoniz if you will be sorting both out great if not let me I will assign some one else for the task

[2019-10-10 08:47] jatin33 commented on #43
Hi,
How can I help?

[2019-10-10 09:19] sliee17 commented on #43
I will be doing this :)

[2019-10-10 09:24] er-raoniz commented on #3
@Swap76
I would like sorting the issue, only if you can specify where does *Exercise* section needs to be placed?

[2019-10-10 09:39] Swap76 commented on #43
@sliee17 Assiging to you

[2019-10-10 09:41] Swap76 commented on #43
@jatin33  Sorry this new issue is born after conversations in #5  was discussed Because of that assigning to @sliee17

[2019-10-10 09:48] Swap76 commented on #3
@er-raoniz The Exercise Section should the main Section like JavaScriptAdvance AND basics

The the exercise section add the Advance and Basic so that people can add the exercises in respective places

And the Question will reside in docs/Exercise/JavaScriptAdvanceOrJavaScriptBasics as .md file

and answer in the outer folder in .js

[2019-10-10 09:51] er-raoniz commented on #3
@Swap76
Yeah, got it! I will immediately start with that! Thanks!

[2019-10-10 09:54] Swap76 commented on #3
@er-raoniz Great Super Exited for it

[2019-10-10 10:01] Venkat230407 commented on #37
Can i start working on that?

[2019-10-10 10:03] Swap76 commented on #37
@Venkat230407 @liquorburn Is also working on this you can tell me what you can contribute.  I will create the issue for you with description

[2019-10-10 10:07] Venkat230407 commented on #37
I can contribute c#, javascript, anglura2 and above

[2019-10-10 10:13] liquorburn commented on #37
Here you are: https://github.com/Swap76/Learn-JavaScript/pull/46

[2019-10-10 10:38] HamidOsouli commented on #6
Hi @Swap76 I am doing this, assign to me.

[2019-10-10 13:54] hieetesh commented on #38
Bro, I have done it. Please review and merge it. Thank you :)

[2019-10-10 14:13] Swap76 opened #50 "Add Flattening nested arrays Info with Example"
Create a new file named Flattening in JavaScript_Basics and add the following:

- Where we use the Flattening

- More info if there about Flattening

- Create .md and .js both files as we are shifting to Docsify

[2019-10-10 14:14] Swap76 commented on #5
Hey @MOHAMMADArsalan I have created the issue #50 Comment there I will assign you the issue

[2019-10-10 14:19] Swap76 commented on #37
@Venkat230407 Tell me a concept of Javascript which is not there in the repo I will create an issue for you to work on.

[2019-10-10 14:24] Swap76 commented on #36
Hey @HamidOsouli this issue is created after talks in #5 . It is already assigned to a person you can tell me a concept that you know and will love to contribute in the repo

[2019-10-10 14:38] #43 closed

[2019-10-10 14:49] jamesaspence commented on #33
I likewise was seeing these issues, @Swap76 happy to help with this if you need assistance. I had to remove my local node modules to merge in my PR.

[2019-10-10 14:55] jamesaspence commented on #3
I can take the promises file as I just worked on it. Do we want the file in JS still? Or are we replacing the JS w/ the MD?

[2019-10-10 14:59] Swap76 commented on #33
@andregallacci and @jamesaspence the issue is resolved now pull the repo

thanks for asking @jamesaspence

thanks for letting us know the issue @andregallacci

[2019-10-10 15:00] Swap76 commented on #3
@jamesaspence we want the file in js also such that users can test it and play with and

[2019-10-10 15:13] jamesaspence commented on #22
This is done @Swap76 if you'd like to close this issue

[2019-10-10 16:16] lucasrabiec commented on #29
I can take care of this

[2019-10-10 16:36] eduaugustus commented on #50
I can do this!

[2019-10-10 18:04] lucasrabiec commented on #29
@Swap76 please check PR: https://github.com/Swap76/Learn-JavaScript/pull/55

[2019-10-10 20:32] #22 closed

[2019-10-10 20:37] Swap76 commented on #50
hey @eduaugustus some one has already created a pull request

[2019-10-10 20:40] #29 closed

[2019-10-10 20:40] #42 closed

[2019-10-10 20:41] #39 closed

[2019-10-10 20:41] #27 closed

[2019-10-11 12:38] #28 closed

[2019-10-11 12:51] #50 closed

[2019-10-11 12:51] #37 closed

[2019-10-11 12:52] #20 closed

[2019-10-11 14:40] n1rna commented on #21
hey @Swap76 , I was wondering if you think it is a good idea to talk a little about closures in js, before using them and calling API endpoints?
I will try to keep it short and to the point.

[2019-10-11 16:12] Swap76 commented on #21
@n1rna Great Idea go ahead with it :-)

[2019-10-11 20:26] Swap76 opened #57 "Add Use of Cookies with JavaScript"
Create a new file named Cookies in JavaScript_Advance and add the following:

- What are cookies
- Where we store cookies
- Reading and setting expiry to cookies

Create .md and .js both files as we are shifting to Docsify

[2019-10-11 20:28] Swap76 opened #58 "Add JavaScript page redirectes"
Create a new file named javascript-page-redirects.js in JavaScript_Basic and add the following:

- Where we use page redirects
- how we use page redirects
- Auto-refresh

Create .md and .js both files as we are shifting to Docsify

[2019-10-11 20:30] Swap76 opened #59 "Add JavaScript math functions"
Create a new file named Cookies in JavaScript_Basic and add the following:

- Where we use math
- how we use different math

Create .md and .js both files as we are shifting to Docsify

[2019-10-11 20:57] Swap76 opened #60 "Add sending AJAX request from Javascript"
Create a new file named AJAX in JavaScript_Advance and add the following:

- Where we use AJAX requests
- how we make AJAX requests

Create .md and .js both files as we are shifting to Docsify

[2019-10-11 21:10] maal26 commented on #60
Can I take this issue?

[2019-10-11 21:36] Tamy123 commented on #60
Can you give me more details of this issue so i can work on it?

[2019-10-11 21:39] Tamy123 commented on #59
Can  i take this issue? And please provide me with more details?

[2019-10-11 22:03] adavijit commented on #40
Hey just sent some pull request!

[2019-10-11 22:50] JacobMGEvans commented on #59
If no one makes a PR for this in an hour or so I will follow up with one.
@Tamy123 sounds like to me its just a basic "tutorial" like explanation of the Math API in JavaScript
I would say borrowing some highlights from MDN documentation would be a good place to start

[2019-10-11 23:30] jvleon commented on #60
I take it !

[2019-10-12 00:50] jvleon commented on #59
do it !

[2019-10-12 03:30] MaruthiMohanReddyPutha commented on #58
I am going to work on this feature. I think the filename does not align with the content. It could be something like javascript-page-redirects.js or something similar. What do you think?

[2019-10-12 04:00] Swap76 commented on #60
@maal26 @Tamy123 @jvleon  As you 3 are there for the same issue make ajax requests to different API's and show best practices for making a API requests

Also, provide the documentation for the same for the begginers

[2019-10-12 04:56] Swap76 commented on #59
@JacobMGEvans @jvleon @Tamy123 Hey you can distribute the work among 3 as there are many functions and It will be great if we can have all this here

[2019-10-12 04:59] Swap76 commented on #58
@MaruthiMohanReddyPutha thanks for reporting it

I was in a hurry while making it thanks :-)

[2019-10-12 05:10] #57 closed

[2019-10-12 05:10] #40 closed

[2019-10-12 05:20] Swap76 opened #70 "Add Bitwise operators info and examples"
Add the info in .md and examples in .js file named bitwise-oprators.js

Add the following operations:

- AND
- OR
- NOT
- XOR
- Signed right shift

You can also add other operators in the project

[2019-10-12 06:21] adavijit commented on #70
javascript advance or basic? @Swap76

[2019-10-12 08:01] Omkaragrawal commented on #36
Hey @Swap76  I require some time, as I am gathering all the info as well as dealing with my unit tests in my college. I will not be able to do it this week.

[2019-10-12 08:45] einnar82 commented on #41
@Swap76 can i add more?

[2019-10-12 12:57] adavijit commented on #36
Hey! sent PR, please check and merge

[2019-10-12 14:08] Swap76 commented on #70
@adavijit put the file in basic

[2019-10-12 14:10] adavijit commented on #70
Thanks @Swap76 ! please check my last commits too

[2019-10-12 14:25] Swap76 commented on #41
@einnar82 Yes you can.

Assigned the issue to you also

[2019-10-12 14:42] Swap76 commented on #36
@adavijit Done

[2019-10-12 14:42] Swap76 commented on #36
@Omkaragrawal Tell me the issue on which you will like to work on or want to add content after you get free

[2019-10-12 14:45] adavijit commented on #70
@Swap76  done! please check the last commits
#76
#77

[2019-10-13 18:18] adavijit opened #80 "Higher order functions like filter,reduce,mapForEach are not available"
Higher order functions like filter,reduce,mapForEach are not available.
@Swap76 Please assign this to me. And I'll do it

[2019-10-14 09:42] Swap76 commented on #80
@adavijit Assigned to you looking forward to your PR

[2019-10-14 09:45] adavijit commented on #80
@Swap76 please label it as hacktoberfest

[2019-10-14 09:46] #58 closed

[2019-10-14 09:46] #21 closed

[2019-10-14 09:47] #36 closed

[2019-10-14 09:47] #70 closed

[2019-10-14 10:05] adavijit commented on #80
@Swap76  #82 sent PR

[2019-10-14 13:18] #80 closed

[2019-10-15 04:34] Swap76 opened #83 "Correct typo from .md and .js files"
Please correct all typos from docs/ where .me files are and also typos from comments in .js files

[2019-10-15 04:37] singhsterabhi commented on #83
I'll work on this.

[2019-10-15 08:50] adavijit opened #85 "bind() function should be there"

[2019-10-15 10:05] Swap76 commented on #83
@singhsterabhi Assigned the issue to you

[2019-10-15 10:14] Swap76 commented on #85
@adavijit  Will ad this as an issue with the description as people won't open issues with comments thinking these are taken

thanks for suggestions your suggestions are very valuable

Also, I will be creating a common issue where you can tell me what else we can add and then we will on that

[2019-10-15 10:17] Swap76 opened #86 "Add Bind Function of JavaScript"
Create a new file named bind in JavaScript_Advance and add the following:

- Where we use Bind Function in .md
- how we make Bind Function in .md
- Example of bind function in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-15 10:19] Swap76 commented on #85
@adavijit Created issue with the description for bind

Thanks looking forward to working with you

[2019-10-15 10:19] #85 closed

[2019-10-15 10:23] adavijit commented on #86
I want to go with it

[2019-10-15 10:26] Swap76 opened #87 "Suggest JavaScript concepts and add it that are not there"
This is a common issue where anyone can tell me about the concepts or examples they want to add

After that
- I will be creating a separate issue for that to keep track of the work
- Will assign to the person
- Start Contributing  :-)

Thanks to all for making this project so big :-)

[2019-10-15 10:27] Swap76 commented on #86
@adavijit Will assign the issue to you :-)

[2019-10-15 11:20] fcosueza commented on #87
Can i add Set object ? :)

[2019-10-15 11:27] Swap76 opened #91 "Add Set function"
Create a new file named set-function in JavaScript_Advance and add the following:

- Where we use set-function in .md
- how we make set-function in .md
- Example of set-function in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-15 11:27] Swap76 commented on #87
@fcosueza Created issue for you please comment at #91

[2019-10-15 11:35] fcosueza commented on #91
Thanks, but i was talking about Set object, which is different from set() function.

[2019-10-15 11:54] dkr19 commented on #87
I want to add topic - 'Currying'.

[2019-10-15 12:13] Swap76 commented on #91
Cool :-)

[2019-10-15 12:26] fcosueza commented on #91
Seems, like #92 and #93 fix this issue, then i'll add Set object, if cool :smiley:

[2019-10-15 12:31] rishabhx64 commented on #87
Can I add Coercion?

[2019-10-15 12:36] adavijit commented on #86
@Swap76  done! sent PR

[2019-10-15 13:13] Swap76 opened #95 "Add Set object in JavaScript"
Create a new file named set-object in JavaScript_Advance and add the following:

- Where we use set-object in .md
- how we make set-object in .md
- Example of set-object in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-15 13:14] fcosueza commented on #95
Thanks, i take it!! :smiley:

[2019-10-15 13:14] Swap76 commented on #91
@fcosueza Created Set Object for you #95 Comment here to assign it to you

Sorry for the inconvenience caused.

[2019-10-15 13:14] #91 closed

[2019-10-15 13:19] Swap76 opened #96 "Add Currying in JavaScript"
Create a new file named currying in JavaScript_Advance and add the following:

- Where we use currying in .md
- how we make currying in .md
- Example of currying in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-15 13:20] Swap76 commented on #87
@dkr19 I have created an issue for curring  #96  please comment there so that I can assign it to you :-)

[2019-10-15 13:22] Swap76 opened #97 "Add Coercion in JavaScript"
Create a new file named coercion in JavaScript_Advance and add the following:

- Where we use coercion in .md
- how we make coercion in .md
- Example of coercion in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-15 13:23] Swap76 commented on #87
@rishabhx64 I have created an issue for coercion #97  please comment there so that I can assign it to you :-)

[2019-10-15 13:23] #86 closed

[2019-10-15 14:14] RocktimSaikia commented on #97
@Swap76  I'll take it

[2019-10-15 15:10] rishabhx64 commented on #97
@Swap76 I'll start working on this issue right away.

[2019-10-15 16:50] Tamy123 commented on #87
Can i add the Map Object?

[2019-10-15 17:02] Tamy123 commented on #96
Assign this to me as well?

[2019-10-15 20:03] Swap76 commented on #97
Hey @RocktimSaikia,
This issue is created especially for @rishabhx64 as he has asked for it in #87

If you also want something specific that you can work on please let me know

[2019-10-15 20:10] Swap76 opened #102 "Add Map Object in JavaScript"
Create a new file named mapObject in JavaScript_Advance and add the following:

- Where we use mapObject in .md
- How we make mapObject in .md
- Example of mapObject in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-15 20:10] Swap76 commented on #87
@Tamy123 I have created an issue for Map Object #102  please comment there so that I can assign it to you :-)

[2019-10-15 20:12] Swap76 commented on #96
@Tamy123
This issue is created on request by @dkr19 if he doesn’t work on this in 2 days you can take this

[2019-10-16 05:14] adavijit commented on #102
@Swap76  I want to go with it

[2019-10-16 10:26] Swap76 commented on #102
@adavijit Go Ahead with it :-)

[2019-10-16 10:35] Swap76 opened #103 "Add DOM Manipulation using JavaScript"
Create a new file named domManipulation in Javascript_Basics and add the following:

- Where we use domManipulation in .md
- How we make domManipulation in .md
- Example of domManipulation in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-16 10:52] Andras-Simon commented on #103
@Swap76 Can I work on this one?

[2019-10-16 11:16] Swap76 commented on #103
Hey @Andras-Simon ,

Assigned the issue to you

[2019-10-16 13:25] adavijit commented on #102
@Swap76 done! sorry again for two PRs.

[2019-10-16 15:54] Tamy123 commented on #96
Ok im waiting

[2019-10-17 07:14] Swap76 opened #107 "Add Concat function"
Create a new file named concat() in JavaScript_Advance and add the following:

- Where we use concat()  in .md
- How we make concat()  in .md
- Example of concat()  in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-17 07:16] Swap76 commented on #87
@adavijit I have created #107 for concat ()

Just a doubt you want the rest-spread operator or something different as rest-spread is there in JavaScript Advance

[2019-10-17 07:21] Swap76 commented on #102
@Tamy123 Sorry from my side it is becoming difficult to manage

@Tamy123 you can do one thing can add content into the files created by @adavijit

[2019-10-17 07:21] Swap76 commented on #96
@Tamy123 you can start working on this :-)

[2019-10-17 07:26] #103 closed

[2019-10-17 07:27] #102 closed

[2019-10-17 07:27] #95 closed

[2019-10-17 07:27] #83 closed

[2019-10-17 07:28] #60 closed

[2019-10-17 07:28] #59 closed

[2019-10-17 07:29] #41 closed

[2019-10-17 07:29] #23 closed

[2019-10-17 07:30] #3 closed

[2019-10-17 07:30] TorstenDittmann commented on #107
I can take care of that :)

[2019-10-17 07:33] Swap76 commented on #107
@TorstenDittmann sorry but this issue is created after the request of @adavijit

You can also suggest to me what we can add more so that we can work on that

[2019-10-17 07:37] adavijit commented on #87
@Swap76
Yes! I wrote about the rest-spread operator!

[2019-10-17 07:39] Swap76 opened #108 "Add Comparison operators in JavaScript"
Create a new file named comparisonOprators in JavaScript_Basic and add the following:

- Where we use comparisonOprators in .md
- How we make comparisonOprators in .md
- Example of comparisonOprators in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-17 07:40] Swap76 commented on #87
@adavijit Please comment at #107

[2019-10-17 07:42] Swap76 opened #109 "Add continue and break in JavaScript"
Create a new file named continue-break in JavaScript_Basic and add the following:

- Where we use continue-break in .md
- How we make continue-break in .md
- Example of continue-break in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-17 07:43] Swap76 opened #110 "Add about Strict Mode in JavaScript"
Create a new file named strictMode in JavaScript_Advance and add the following:

- Where we use strictMode in .md
- How we make strictMode in .md
- Example of strictMode in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-17 07:46] TorstenDittmann commented on #107
Ah no problem. I could do something about polymorphism.

[2019-10-17 07:46] Swap76 opened #111 "Add about JSON in JavaScript"
Create a new file named json in JavaScript_Advance and add the following:

- Where we use JSON in .md
- How we access and manipulate  JSON in .md
- Example of JSON in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-17 07:47] Swap76 opened #112 "Add about polymorphism"
Create a new file named polymorphism in JavaScript_Advance and add the following:

Where we use polymorphism in .md
How we access and manipulate polymorphism in .md
Example of polymorphism in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-17 07:48] Swap76 commented on #107
@TorstenDittmann Great I have created #112 for you comment there so that I can assign you to it

[2019-10-17 07:48] adavijit commented on #107
@Swap76  I want to go with this

[2019-10-17 07:49] TorstenDittmann commented on #112
Here I am :)

[2019-10-17 07:56] Rudy-Menekam commented on #111
hello, can i work on this?

[2019-10-17 08:18] Tamy123 commented on #96
Sure bro but assign it to me first? :)

[2019-10-17 08:18] paullaffitte commented on #109
Hello, could I work on this?

[2019-10-17 08:21] Swap76 commented on #111
@Rudy-Menekam sure just make sure you do all things that are mentioned there and you shouldn’t  just copy-paste

Happy Contributing :-)

[2019-10-17 08:21] Tamy123 commented on #102
Its okay i ll just look for another one of yours?

[2019-10-17 08:23] Swap76 commented on #109
@paullaffitte Sure. Assigning to you :-)

[2019-10-17 08:24] Tamy123 commented on #108
What about this one?

[2019-10-17 08:25] Swap76 commented on #108
@Tamy123 Assigning to you :-)

[2019-10-17 08:25] Tamy123 commented on #96
Thanks i ll do this today!

[2019-10-17 08:28] Swap76 opened #115 "Add Different types of assignments in JavaScript"
Create a new file named assignments in JavaScript_Advance and add the following:

- Different types of assignments in .md
<img width="934" alt="Screenshot 2019-10-17 at 1 56 16 PM" src="https://user-images.githubusercontent.com/37082605/66991845-6f2ee780-f0e6-11e9-84a9-3898d5b1540a.png">

- Example of assignments in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-17 08:34] Swap76 opened #116 "Add Number Methods in JavaScript"
Create a new file named numberMethods in JavaScript_Basics and add the following:

- How we can use and manipulate using the numerical methods in .md
- Example of numerical methods in .js
<img width="936" alt="Screenshot 2019-10-17 at 2 03 55 PM" src="https://user-images.githubusercontent.com/37082605/66992161-fc723c00-f0e6-11e9-8eb7-cc354e8436cc.png">

Create .md and .js both files as we are shif

[2019-10-17 08:36] Swap76 opened #118 "Add Number Properties in JavaScript"
Create a new file named numberProperties in JavaScript_Basics and add the following:

- How we can use the numerical properties in .md
- Example of numerical properties in .js

<img width="935" alt="Screenshot 2019-10-17 at 2 05 27 PM" src="https://user-images.githubusercontent.com/37082605/66992298-33485200-f0e7-11e9-82ea-e4b033e811ab.png">

Create .md and .js both files as we are shifting to Doc

[2019-10-17 08:40] Swap76 opened #119 "Add remaining array methods in Array in JavaScript"
Add the following methods into the file array.js in JavaScript_Basics

- pop
- shift
- length
- delete

Add the info in the respective .md file also as we are shifting to Docsify

[2019-10-17 10:01] phyyyl commented on #115
I'll do it

[2019-10-17 10:49] GiacomoPignoni commented on #118
I will take this

[2019-10-17 12:20] phyyyl commented on #115
PR #124

[2019-10-17 13:40] #112 closed

[2019-10-17 13:42] #110 closed

[2019-10-17 13:43] Swap76 commented on #118
@GiacomoPignoni Assigned to you :-)

[2019-10-17 13:46] #115 closed

[2019-10-17 15:46] dvlprdave commented on #116
I would love to work on this. Could you assign me is possible? Thank you.

[2019-10-17 19:15] cptcrunchy commented on #96
Will this cover partial application or just currying?

[2019-10-17 19:48] Swap76 commented on #96
@cptcrunchy Cool

[2019-10-17 19:59] #87 closed

[2019-10-17 20:00] Swap76 opened #127 "Suggest JavaScript concepts and add it that are not there"
This is a common issue where anyone can tell me about the concepts or examples they want to add.

After that

- I will be creating a separate issue for that to keep track of the work
- Will assign to the person
- Start Contributing :-)

Thanks to all for making this project so big :-)

[2019-10-17 20:07] Swap76 opened #130 "Add Connection to Redis"
Add configuration for Redis

- Add how-to connect with Redis.

- Where can we get the free Redis instant

- Basic Redis operations

Add the .js file in JavaScript_Advance and also create .md file explaining all this in docs/JavaScript_Advance

[2019-10-17 20:50] Rudy-Menekam commented on #130
hello, want to work on this

[2019-10-17 20:55] Swap76 commented on #130
@Rudy-Menekam start contributing I have assigned the issue to you

[2019-10-17 21:00] Rudy-Menekam commented on #130
ok @Swap76

[2019-10-18 02:22] antoav commented on #127
Hi, I would like to add the concept of while and do while loops. I did a quick search and wasn't able to find that there, so I believe those concepts haven't been worked on yet :)

[2019-10-18 08:44] Swap76 opened #132 "Add While and Do-While loops in JavaScript"
Create a new file named while and do-while in JavaScript_Advance and add the following:

**Create separate file for both as it will be good to maintain it**

- Where we use those loops in .md
- Example using those loops in .js

Create .md and .js both files as we are shifting to Docsify

[2019-10-18 08:45] Swap76 commented on #127
@antoav I have created #132 for you comment their so that I can assign it to you

[2019-10-18 09:29] jisack commented on #132
i can take a look at this .

[2019-10-18 10:10] Swap76 commented on #132
@jisack sorry but this issue is created on request of @antoav if she does not comment here in 2 days then you can take

Also if you can add something to the project let me know will create the issue for you :-)

[2019-10-18 10:20] cos1715 commented on #132
what do you need?

[2019-10-18 10:46] M0706 commented on #132
Can you explain your issue with more clarity ?

[2019-10-18 13:55] Swap76 commented on #132
@cos1715 @M0706  sorry but this issue is created on request of @antoav if she does not comment here in 2 days then you can take

Also if you can add something to the project let me know will create the issue for you :-)

[2019-10-18 14:03] #111 closed

[2019-10-18 14:09] antoav commented on #132
Hi, thanks for creating my request. I'll work on it :)

[2019-10-18 16:48] paullaffitte opened #136 "Generate the _sidebar.md file from the list of files in docs"
It could be nice if the `_sidebar.md` file would be generated from the list of files in the docs directory. It will allow to always keep it up to date. Moreover an `npm run serve-docs` would be appreciable.

If you think that it's a good idea, I would like to work on it.

[2019-10-18 16:52] Swap76 commented on #136
@paullaffitte Great Idea go ahead with it :-)

[2019-10-18 17:33] #109 closed

[2019-10-18 17:33] #107 closed

[2019-10-18 17:33] #96 closed

[2019-10-18 17:33] #19 closed

[2019-10-18 17:34] #119 closed

[2019-10-19 07:41] Swap76 opened #138 "Add missing array functions in JavaScript"
Use an existing file named arrays in JavaScript_Basics and add the following:

- Splicing an Array
- Merging Two Arrays
- Slicing an Array

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 07:46] Swap76 opened #139 "Add array functions related to sorting and math"
Use an existing file named array-methods in JavaScript_Basics and add the following:

- Sorting an Array
- Reversing an Array
- Math.min
- Math.max

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 07:51] lumisce commented on #138
Hi I'd like to work on this!

[2019-10-19 07:53] Swap76 opened #140 "Add Methods related to array"
Use an existing file named array-methods in JavaScript_Basics and add the following:

- Array.every()
- Array.reduceRight()
- Array.some()
- Array.lastIndexOf()

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 08:00] Swap76 opened #141 "Add Math functions in JavaScript"
Create file named math in JavaScript_Basics and add the following:

- Math.round()
- Math.pow()
- Math.sqrt()
- Math.abs()

In .md file you have to explain how math can be used its syntax

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 08:03] Swap76 opened #142 "Add Math functions in JavaScript"
Create new file named math in JavaScript_Basics and add the following:

- Math.ceil()
- Math.floor()
- Math.sin()
- Math.cos()
- Math.min() and Math.max()
- Math.random()

In .md file you have to explain how math can be used its syntax

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 08:10] kirii009 commented on #140
Hey Swapnil, I would like to work on it

[2019-10-19 08:25] Swap76 opened #143 "Add DOM Manipulation of CSS and Animation using JavaScript"
A created a new file named Dom-manipulation  in JavaScript_Advance and add the following:

- CSS Manipulation
- Animation manipulation
- DOM Events

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 08:27] Abhishek-Mittall commented on #142
I will take this . Please assign me this

[2019-10-19 08:34] sneha122 commented on #142
Can i take this issue?

[2019-10-19 08:36] sneha122 commented on #139
hey I would like to work on this

[2019-10-19 08:36] sneha122 commented on #141
Hey I would like to work on this

[2019-10-19 08:40] sneha122 commented on #143
I would like to work on this

[2019-10-19 08:50] Swap76 opened #145 "Add DOM Manipulation properties"
A created a new file named Dom-manipulation-html in JavaScript_Advance and add the following:

- DOM Navigation
- Working with DOM Nodes
- Working with DOM Collections

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 08:53] Swap76 opened #146 "Add about Browser Object Model in JavaScript"
Add browser-object-model.md in . Javascript_Advance which will have

- What we can do using BOM Model
- Why to use it
- How we can optimize our sites after taking inputs

[2019-10-19 09:05] Swap76 opened #147 "Add functions of BOM Model"
A created a new file named BOM_functions in JavaScript_Advance and add the following:

- The Window Object
- Window Screen
- Window Location

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 09:07] Swap76 opened #148 "Add functions of BOM model in JavaScript"
A created a new file named BOM_functions_1 in JavaScript_Advance and add the following:

- Window History
- Window Navigator
- JavaScript Popup Boxes

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 09:11] Swap76 opened #149 "Add info about AJAX"
Add info about AJAX in simple language for this create a file named AJAX.md in docs/JavaScript_Advance which will be a Markdown file

Add the following things:

- What is AJAX
- How AJAX works

[2019-10-19 09:12] Swap76 commented on #138
@lumisce go ahead with it :-)

[2019-10-19 09:13] Swap76 commented on #140
@kirii009 go ahead with it :-)

[2019-10-19 09:31] Swap76 commented on #142
@sneha122 @Abhishek-Mittall You both can work on this at last  I will merge both of your PRs after seeing what is better in which PR

[2019-10-19 09:31] Swap76 commented on #139
@Swap76 You can start working on it :-)

[2019-10-19 09:32] Swap76 commented on #141
@sneha122 go ahead and start working :-)

[2019-10-19 09:33] Swap76 commented on #143
@sneha122 Sorry but you have already assigned 2 Issues you can complete those at that time you can contribute to other issues
Thanks :-)

[2019-10-19 09:36] Swap76 commented on #145
@RobinTHOREL For the issue, you have to create two files

1. in Dom-manipulation-html.js which will have examples with comments of the respective topic
2. in Dom-manipulation-html.md in this, there should have to be info about these methods how we

can use it where we can use it and how it will help our websites, etc.

[2019-10-19 09:40] Swap76 opened #151 "Add about XMLHttpRequest Object"
A created a new file named XMLhttpRequest in JavaScript_Advance and add the following:

<img width="952" alt="Screenshot 2019-10-19 at 3 10 17 PM" src="https://user-images.githubusercontent.com/37082605/67142829-9a4e3e00-f282-11e9-90d1-79ddc60c3c67.png">

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 09:43] Swap76 opened #152 "Add sending a request to a server using AJAX"
A created a new file named AJAXrequest in JavaScript_Advance and add the following:

<img width="952" alt="Screenshot 2019-10-19 at 3 12 16 PM" src="https://user-images.githubusercontent.com/37082605/67142854-ff099880-f282-11e9-9327-57021eb4be8e.png">

Create .md and .js both files as we are shifting to Docsify

[2019-10-19 09:56] eLeontev commented on #152
I will take care

[2019-10-19 10:04] Abhishek-Mittall commented on #142
okay

[2019-10-19 10:11] BhaveshSalunke commented on #152
Is it all core or xhr request would work?

[2019-10-19 10:11] BhaveshSalunke commented on #152
Like is it a wrapper for xhr?

[2019-10-19 10:25] thekazi commented on #142
Can I work on this?

[2019-10-19 10:34] Leannelb commented on #141
Hi, can I work on this too please?

[2019-10-19 11:01] eLeontev commented on #147
I will take care

[2019-10-19 12:52] Leannelb commented on #143
Hi I'd like to give this one a go please? If that's alright please.

[2019-10-19 15:08] jisack commented on #132
@Swap76 ok, i just done yesterday but never mind .

[2019-10-19 15:10] jisack commented on #151
@Swap76 i would like to take this instead haha .

[2019-10-19 15:26] Swap76 commented on #152
@BhaveshSalunke It should be a example in .js file how to do it and in .md file the info should be there

[2019-10-19 15:27] Swap76 commented on #142
@thekazi 3 people on the same issue will be very problematic maybe you 3 can talk and divide the work or enhance upon each others work

[2019-10-19 15:31] Swap76 commented on #152
@BhaveshSalunke You can work on GET method as @eLeontev Has added post method and also you can work on adding info in .md file

[2019-10-19 15:31] Abhishek-Mittall commented on #142
I have already send you pull request.Please have a look at it.

[2019-10-19 15:33] Swap76 commented on #141
@sneha122 Is working on it you both can work I think I will merge the best from both

[2019-10-19 15:34] #138 closed

[2019-10-19 16:51] Swap76 commented on #143
@Leannelb Go ahead with it :-)

[2019-10-19 16:54] lancedingo commented on #149
on it

[2019-10-19 16:55] Swap76 commented on #132
@jisack Thanks for the info, I'm thinking of merging 2-3 PRs for this as the examples and use cases can be very wide

[2019-10-19 16:56] Swap76 commented on #151
@jisack Cool please make sure you right things in your words and with examples

[2019-10-19 16:57] Swap76 commented on #149
@lancedingo please see to it that 2 PRs #150 and #163 has been merged so you add something different than that

[2019-10-19 17:27] Rudy-Menekam commented on #146
hello, can I work on this?

[2019-10-19 17:31] Omkaragrawal commented on #108
Hey I would like to take this up

[2019-10-19 17:32] Omkaragrawal commented on #140
I too would like to do it.

[2019-10-19 17:42] Omkaragrawal opened #165 "Caesar Cipher"
Would you like to add Caesar Cipher to your advance part? I would gladly take that up.

[2019-10-19 17:46] Omkaragrawal commented on #139
I too would like to take this up.

[2019-10-19 19:57] Swap76 commented on #146
@Rudy-Menekam Go ahead with it

[2019-10-19 19:59] Swap76 commented on #108
@Omkaragrawal Please make sure you are adding different examples and all than @Tamy123

[2019-10-19 20:00] Swap76 commented on #140
@Omkaragrawal I think for this a PR is already merged only a small amount of work is left.

Let me know if you have something to add to in repo

[2019-10-19 20:01] Swap76 commented on #165
@Omkaragrawal Make sure you follow the same structure as other issues

[2019-10-19 20:02] Swap76 commented on #139
@Omkaragrawal Go ahead with it I will merge good things from you both

[2019-10-20 09:34] eLeontev commented on #148
I will take care

[2019-10-20 09:37] eLeontev commented on #148
@Swap76 do you agree to place popup boxes in separate file since they are not related to navigator?
my proposal:
A created a new file named BOM_functions_1 in JavaScript_Advance and add the following:
Window History
Window Navigator
A created a new file named popupBoxes in JavaScript_Advance and add the following:
JavaScript Popup Boxes

Create .md and .js both files as we are shifting to Docsify

[2019-10-20 12:46] sprakash57 commented on #145
Raised PR #168 for this issue. Please review and let me know if anything needs any improvement.

[2019-10-20 20:08] Swap76 commented on #148
@eLeontev Cool I will be reviewing the PRs

[2019-10-21 08:06] #165 closed

[2019-10-21 08:08] #140 closed

[2019-10-22 02:50] jisack commented on #151
@Swap76 could this been closed now or i should write the markdown file

[2019-10-22 03:41] Swap76 commented on #151
@Swap76 You can make a separate pull request for it :-)

[2019-10-22 03:41] #151 closed

[2019-10-22 03:41] #142 closed

[2019-10-22 03:41] #141 closed

[2019-10-22 03:41] #132 closed

[2019-10-22 03:42] #108 closed

[2019-10-22 03:43] Swap76 commented on #116
@dvlprdave Have you sent the PR for it

[2019-10-22 03:43] Swap76 commented on #118
@GiacomoPignoni Have you sent the PR for the issue

[2019-10-22 03:43] #130 closed

[2019-10-22 03:44] #148 closed

[2019-10-22 03:45] Swap76 commented on #146
@Rudy-Menekam Have you made a PR for it

[2019-10-22 03:45] #149 closed

[2019-10-22 03:45] #152 closed

[2019-10-22 03:46] #145 closed

[2019-10-22 03:47] #143 closed

[2019-10-22 03:48] #147 closed

[2019-10-22 03:51] dvlprdave commented on #116
Not yet. Will send a PR tomorrow for sure. Currently working on a bunch of stuff.

[2019-10-22 03:56] Swap76 commented on #116
@dvlprdave Cool

[2019-10-22 17:45] Rudy-Menekam commented on #146
I just made a pull request @Swap76 and sorry for the late submission

[2019-10-22 17:46] Rudy-Menekam commented on #146
and I don't know if I got the third point right.

[2019-10-23 13:57] dvlprdave commented on #116
Just sent the PR.

[2019-10-24 04:44] #116 closed

[2019-10-24 04:44] #146 closed

[2019-10-24 16:50] #136 closed

[2019-10-24 16:51] #139 closed

[2019-10-24 16:51] #118 closed

[2019-10-24 16:52] #97 closed

[2019-10-25 05:12] paullaffitte opened #183 "Deploy the documentation to github page"
Docsify can be deployed to github page as mentioned [here](https://docsify.js.org/#/deploy?id=github-pages). It could be nice to do so to be able to access the docs without cloning the repository.
- [ ] The sidebar should be generated before each commit with a githook, maybe using husky, to be sure that it is always up to date.
- [ ] The lint command should be run before each commit with a hook to

[2019-10-25 05:15] paullaffitte opened #184 "Fix README about docsify"
Since docsify-cli has been added as a dependency and a script to serve the docs has been added too, it's not anymore required to install docsify-cli globally to serve the docs.

[2019-10-25 06:33] Swap76 commented on #183
@paullaffitte Good Idea

Husky for linting is dangerous for us as it is example doc there will be many unused variables and in such cases  husky should let us commit the code

[2019-10-25 06:42] niyonx commented on #184
I will work on it.

[2019-10-25 06:44] Swap76 commented on #184
@paullaffitte Go Ahead with it

[2019-10-25 11:54] paullaffitte commented on #183
@Swap76 Right, I didn't think about it before. Maybe I should check the PR #178 that I did yesterday with the auto-fix using the linter, I'm afraid that it induced some mistakes like removing some unused variables. But it's a pity to have a linter and not being able to use it, maybe it should be configured to only yield warning instead of errors in some case or even ignore some files?

[2019-10-25 14:54] Swap76 commented on #183
@paullaffitte I think we have to revisit the whole as I am now seeing let changed to const

If you are free please have a look we can divide the work I will be seeing all the files in JavaScript basics you can take JavaScript advance as in advance there will not be much work just see to it that because of const some methods will stop working and will emit errors

[2019-10-25 16:42] Swap76 opened #186 "Add info about Classes in JavaScript"
Add the info in classes.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining Classes

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 16:48] Swap76 opened #187 "Add info about Higher Order functions in JavaScript"
Add the info in higher_order_functions.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining Higher Order functions

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 16:50] Swap76 opened #188 "Add info about if, if else ladder and other Conditional Statements in JavaScript"
Add the info in conditional_statments.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining Conditional Statements

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 16:51] Swap76 opened #189 "Add info about Inheritance in JavaScript"
Add the info in inheritance.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining inheritance

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 16:54] Swap76 opened #190 "Add info about Looping Objects in JavaScript"
Add the info in looping_an_objects_.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining Looping of Objects

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 16:58] Swap76 opened #192 "Add info about Objects in JavaScript"
Add the info in objects.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining Objects

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 17:56] Swap76 opened #193 "Add info about regex in JavaScript"
Add the info in regex.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining regex

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 17:58] Swap76 opened #194 "Add info about Splice & Slice in JavaScript"
Add the info in splice_slice.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining Splice & Slice

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 17:59] Swap76 opened #195 "Add info about string operations in JavaScript"
Add the info in string_opration.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining String Operation

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 18:01] Swap76 opened #196 "Add info about This method in JavaScript"
Add the info in this.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining This

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 18:02] Swap76 opened #197 "Add info about Variables in JavaScript"
Add the info in variables.md placed in docs/JavaScriptBasics

Use the example given in JavaScript_Basics for explaining Variables

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 18:06] Swap76 opened #198 "Add info about Flattening Arrays in JavaScipt"
Add the info in array_flat.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining Flattening of arrays

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 18:07] Swap76 opened #199 "Add info about Arrow functions in JavaScipt"
Add the info in arrow_function.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining Arrow functions

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 18:09] Swap76 opened #200 "Add info about Async & Await in JavaScript"
Add the info in async_await.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining Async & Await

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 18:12] Swap76 opened #201 "Add info about Default Values in JavaScript"
Add the info in default_values.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining Default Values

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 19:19] Swap76 opened #203 "Add info about Destructuring in JavaScript"
Add the info in destructuring.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining Destructuring

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 19:20] Swap76 opened #204 "Add info about Event Loop in JavaScript"
Add the info in eventloop.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining Event Loop

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 19:21] Swap76 opened #205 "Add info about using Express in JavaScript"
Add the info in express.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining Express

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 19:22] Swap76 opened #206 "Add info about FS Module in JavaScript"
Add the info in fs_module.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining FS Module

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 19:24] Swap76 opened #207 "Add info about Prototypes in JavaScript"
Add the info in prototypes.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining Prototypes

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 19:25] Swap76 opened #208 "Add info about Spread & Rest Operators"
Add the info in spread_&_rest.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining Spread & Rest Operators

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 19:27] Swap76 opened #209 "Add info about Timer Functions in JavaScript"
Add the info in timer_function.md placed in docs/JavaScriptAdvance

Use the example given in JavaScript_Advance for explaining Timer functions

You can also explain with more examples taking reference is ok but directly copying is not allowed

[2019-10-25 19:32] Swap76 opened #210 "Add Basic JavaScript Questions"
Add Basic JavaScript questions in docs/exercise/JavaScript_Basic

This questions should help others to test their skills

For contents in JavaScript_Basic you can check all the topics from docs/JavaScript_Basics

[2019-10-25 19:32] Swap76 opened #211 "Add Advance JavaScript Questions"
Add Advance JavaScript questions in docs/exercise/JavaScript_Advance

This questions should help others to test their skills

For contents in JavaScript_Advance you can check all the topics from docs/JavaScript_Advance

[2019-10-25 19:51] Swap76 commented on #183
@paullaffitte I have reverted all the const to let whichever place necessary

[2019-10-25 21:05] harshit2000 commented on #197
This variable returns the value from the server

[2019-10-25 21:10] samisafatli commented on #210
Hello, I'm gonna tackle this one, is it closed already?
If not, should I insert the questions inside the Exercise-1.md?

[2019-10-26 00:24] HurricaneInteractive commented on #203
I will add some more info around this topic 👍

[2019-10-26 02:16] eswong610 commented on #199
Hi, can I work on this for hacktoberfest?

[2019-10-26 03:40] dnafication commented on #207
Hi @Swap76, Can I take this? I have written the content. Will send the PR.

[2019-10-26 03:59] arthursvpb commented on #210
Did it.  #216

[2019-10-26 04:07] arthursvpb commented on #210
Resolves #216

[2019-10-26 04:11] arthursvpb commented on #210
Did it. #216

[2019-10-26 04:41] travisallen6 commented on #211
Submitted PR for recursion #218

[2019-10-26 04:57] sealedHuman commented on #208
I'm working on this.

[2019-10-26 04:59] sealedHuman commented on #208
PR #219 created for this.

[2019-10-26 05:30] #198 closed

[2019-10-26 05:32] Swap76 commented on #197
@harshit2000 Didn’t get you can you elaborate on that

[2019-10-26 05:32] #184 closed

[2019-10-26 05:33] Swap76 commented on #199
@eswong610 Yes go ahead with it

[2019-10-26 05:37] Swap76 commented on #207
@dnafication Cool

[2019-10-26 05:37] #210 closed

[2019-10-26 05:42] Swap76 commented on #211
@travisallen6 Cool

[2019-10-26 05:43] Swap76 commented on #208
@sealedHuman Checked It was perfect

[2019-10-26 05:43] #208 closed

[2019-10-26 06:24] #207 closed

[2019-10-26 06:25] #211 closed

[2019-10-26 06:40] shahpranaf commented on #209
Hi @Swap76 ,
I would like to work on it. Kindly assign it to me.

Thanks

[2019-10-26 06:41] shahpranaf commented on #204
Hi @Swap76 ,
I would like to work on it. Kindly assign it to me.

Thanks

[2019-10-26 06:49] Swap76 opened #222 "Building the sidebar from docs directories content Failing"
The script for building the sidebar is written in scripts/build_sidebar.js

But the sidebar creation is failing with error
<img width="804" alt="Screenshot 2019-10-26 at 12 13 36 PM" src="https://user-images.githubusercontent.com/37082605/67615488-cae62880-f7ea-11e9-93a5-f9067a6ad654.png">

[2019-10-26 06:50] Swap76 commented on #209
@shahpranaf Assigned to you

[2019-10-26 06:50] Swap76 commented on #204
@shahpranaf Will assign the issue to you

[2019-10-26 07:28] frahmadani commented on #206
Hi @Swap76, I'd like to try working on this

[2019-10-26 07:35] shahpranaf commented on #222
check the node version. Install latest version 13.0.1. With older version of node this will not work.

[2019-10-26 08:29] frahmadani commented on #206
Hi, I've submitted PR #223, hope it's acceptable

[2019-10-26 08:37] johachi commented on #200
I'm doing this now!

[2019-10-26 09:15] Surya97 commented on #194
Is this issue still open? Can I work on this?

[2019-10-26 09:17] Surya97 commented on #190
Is this issue still open? Can I work on this?

[2019-10-26 09:54] Swap76 commented on #194
@Surya97 you can start working on it

[2019-10-26 09:54] Swap76 commented on #190
@Surya97 you can start working on it

[2019-10-26 10:41] ofarukcaki commented on #195
I'm working on it

[2019-10-26 11:04] NiyongaboEric commented on #203
@Swap76 Let me give a try

[2019-10-26 11:08] WojciechPreficz commented on #201
I can do that. :)

[2019-10-26 11:18] Swap76 commented on #201
@WojciechPreficz Go ahead with the issue

[2019-10-26 11:21] Swap76 commented on #195
@ofarukcaki Cool

[2019-10-26 11:22] Swap76 commented on #200
@johachi Go-ahead with it

[2019-10-26 13:46] NiyongaboEric commented on #203
@Swap76 I would like to work on it

[2019-10-26 13:51] Swap76 commented on #203
@NiyongaboEric Go ahead with it

[2019-10-26 15:50] sealedHuman commented on #127
I couldn't find if other array functions (namely the *some*, *every*, *find*, *map*, and *reduce* functions) are currently covered in the examples/docs. Are those covered already? If not, I'd love to add them.

[2019-10-26 15:51] jcespinosa commented on #186
I would like on this :)
Please assign this issue to me

[2019-10-26 16:02] NiyongaboEric commented on #205
@Swap76 I worked on it, here is my [PR](https://github.com/Swap76/Learn-JavaScript/pull/232/files)

[2019-10-26 18:10] Swap76 commented on #222
@shahpranaf Thanks for help will try :-)

[2019-10-26 18:12] #206 closed

[2019-10-26 18:12] anuk79 commented on #187
@Swap76 Can I pick this issue?

[2019-10-26 18:14] #194 closed

[2019-10-26 18:17] #209 closed

[2019-10-26 18:35] Swap76 commented on #127
@sealedHuman Those methods are already covered. If you know any other concept then also let me know

[2019-10-26 18:36] Swap76 commented on #186
@jcespinosa Assigned to you

[2019-10-26 18:38] Swap76 commented on #187
@anuk79 Go ahead with it :-)

[2019-10-26 19:04] jyburns commented on #193
Hi, @Swap76

I would like to work on this issue 👍

[2019-10-26 19:22] sealedHuman commented on #127
Oh I missed those, but see them now. Thanks.

[2019-10-26 19:23] sealedHuman commented on #192
I'll work on this one.

[2019-10-26 19:36] lnchapin commented on #188
Hey, conditional_statements.md doesn't exist at the moment but I'll take this one and make it.

[2019-10-26 19:38] lnchapin commented on #188
Hey, I'll take this one

[2019-10-26 22:48] NiyongaboEric commented on #188
Can I also try it ?

[2019-10-27 02:00] mpaarating commented on #189
I can take this @Swap76

[2019-10-27 03:03] Swap76 commented on #193
@jyburns Go ahead with it

[2019-10-27 05:02] Swap76 commented on #188
@NiyongaboEric @lnchapin You both can take this I will merge the best things together

[2019-10-27 05:03] Swap76 commented on #189
@mpaarating Go ahead with it

[2019-10-27 05:48] anuk79 commented on #187
Thanks 💃

[2019-10-27 06:54] anuk79 commented on #187
@Swap76 - the pr -  https://github.com/Swap76/Learn-JavaScript/pull/239

[2019-10-27 07:23] shahpranaf commented on #196
I can work on it.

Thanks

[2019-10-27 12:26] Swap76 commented on #196
@shahpranaf Go ahead with it

[2019-10-27 13:54] #196 closed

[2019-10-27 17:48] #205 closed

[2019-10-27 17:49] #201 closed

[2019-10-27 17:50] #203 closed

[2019-10-28 01:58] paullaffitte commented on #183
@Swap76 I'll work on advance part as soon as I can

[2019-10-28 02:33] Swap76 commented on #183
@paullaffitte I have done it also one person has helped me doing it

[2019-10-28 02:48] #222 closed

[2019-10-28 02:50] Swap76 commented on #204
@shahpranaf you are working on it right

[2019-10-28 02:50] Swap76 commented on #200
@johachi you are working on it right

[2019-10-28 02:51] #199 closed

[2019-10-28 02:51] #197 closed

[2019-10-28 02:51] #195 closed

[2019-10-28 02:52] Swap76 commented on #193
@jyburns you are working on it right :-)

[2019-10-28 02:54] Swap76 commented on #192
@sealedHuman you are working on it right

[2019-10-28 02:56] #188 closed

[2019-10-28 02:57] Swap76 commented on #187
@anuk79 Please do the needed changes said in PR

[2019-10-28 02:57] Swap76 commented on #186
@jcespinosa you are working on it right

[2019-10-28 02:59] #127 closed

[2019-10-28 03:05] sealedHuman commented on #192
Yes, I will. Sorry, I had other things come up today.

[2019-10-28 03:09] Swap76 opened #241 "Add missing concepts of JavaScript Basics"
Please have a look at the repo in the JavaScript_Basics folder if you know any concept that is missing comment here I will create a separate issue for tracking the progress of it.

Also, you can add the docs for the same concept in docs/JavaScript_Basics

[2019-10-28 03:10] Swap76 opened #242 "Add Missing Javascript Advance Concepts"
Please have a look at the repo in the JavaScript_Advance folder if you know any concept that is missing comment here I will create a separate issue for tracking the progress of it.

Also, you can add the docs for the same concept in docs/JavaScript_Advance

[2019-10-28 03:11] Swap76 commented on #192
@sealedHuman Cool

[2019-10-28 03:20] Swap76 opened #243 "Add Exercise Questions for Array Methods in JavaScript"
Add the Exercise question for Array Method in docs/Exercise/Javascript_Basics/array_method.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:24] Swap76 opened #244 "Add Exercise Questions for Bitwise Operators in JavaScript"
Add the Exercise question for Bitwise Operators in docs/Exercise/Javascript_Basics/bitwise_operator.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:24] MoisesTR commented on #243
Hi @Swap76 ,
I would like to work on it. Kindly assign it to me.

Thanks

[2019-10-28 03:26] Swap76 opened #245 "Add Exercise Questions for Boolean in JavaScript"
Add the Exercise question for Boolean in docs/Exercise/Javascript_Basics/boolean.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:26] Swap76 commented on #243
@MoisesTR Go ahead with it

[2019-10-28 03:27] Swap76 opened #246 "Add Exercise Questions for Classes in JavaScript"
Add the Exercise question for Classes in docs/Exercise/Javascript_Basics/classes.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:29] Swap76 opened #247 "Add Exercise Questions for Comparison Operators in JavaScript"
Add the Exercise question for Comparison Operators in docs/Exercise/Javascript_Basics/comparison_operators.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:31] Swap76 opened #248 "Add Exercise Questions for Continue & Break in JavaScript"
Add the Exercise question for Continue & Break in docs/Exercise/Javascript_Basics/continue_break.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:32] Swap76 opened #249 "Add Exercise Questions for DOM Manipulation in JavaScript"
Add the Exercise question for DOM Manipulation in docs/Exercise/Javascript_Basics/dom_manipulation.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:33] Swap76 opened #251 "Add Exercise Questions for Filters in JavaScript"
Add the Exercise question for Filters in docs/Exercise/Javascript_Basics/filters.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:34] Swap76 opened #252 "Add Exercise Questions for For Each in JavaScript"
Add the Exercise question for For Each in docs/Exercise/Javascript_Basics/for_each.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:35] Swap76 opened #253 "Add Exercise Questions for Higher Order Functions in JavaScript"
Add the Exercise question for Higher-Order Functions in docs/Exercise/Javascript_Basics/higher_order_functions.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:37] Swap76 opened #254 "Add Exercise Questions for IF Else in JavaScript"
Add the Exercise question for If Else in docs/Exercise/Javascript_Basics/if_else.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:38] Swap76 opened #255 "Add Exercise Questions for Inheritance in JavaScript"
Add the Exercise question for Inheritance in docs/Exercise/Javascript_Basics/inheritance.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 03:39] Swap76 opened #256 "Add Exercise Questions for Looping Objects in JavaScript"
Add the Exercise question for Looping Objects in docs/Exercise/Javascript_Basics/looping_objects.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 04:08] MoisesTR commented on #243
I did the pull request, please tell me if it's ok what I uploaded @Swap76

[2019-10-28 04:23] MoisesTR commented on #248
Hi @Swap76 ,
I would like to work on it. Kindly assign it to me.

Thanks

[2019-10-28 04:23] MoisesTR commented on #251
Hi @Swap76 ,
I would like to work on it. Kindly assign it to me.

Thanks

[2019-10-28 04:41] garrowp commented on #254
I can take this one

[2019-10-28 06:04] jcespinosa commented on #186
Yes! I'm making the last changes ;)

[2019-10-28 06:11] luweina commented on #254
Hi i can do this

[2019-10-28 06:13] anuk79 commented on #187
@Swap76 done changes, please review

[2019-10-28 06:30] andyhu92 commented on #256
See PR https://github.com/Swap76/Learn-JavaScript/pull/261

[2019-10-28 06:46] andyhu92 commented on #253
#262 Created PR here

[2019-10-28 06:57] anuk79 commented on #245
@Swap76 can I work on this issue?

[2019-10-28 07:16] Swap76 opened #263 "Add Exercise Questions for Array Map in JavaScript"
Add the Exercise question for Arrays Map in docs/Exercise/Javascript_Basics/array_map.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 07:18] Swap76 opened #264 "Add Exercise Questions for Math in JavaScript"
Add the Exercise question for Math in docs/Exercise/Javascript_Basics/math.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 07:19] Swap76 opened #265 "Add Exercise Questions for Number Methods in JavaScript"
Add the Exercise question for Number Methods in docs/Exercise/Javascript_Basics/number_methods.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 07:21] Swap76 opened #266 "Add Exercise Questions for Reduce function in JavaScript"
Add the Exercise question for Reduce function in docs/Exercise/Javascript_Basics/reduce_function.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 07:22] Swap76 opened #267 "Add Exercise Questions for Regex in JavaScript"
Add the Exercise question for Regex in docs/Exercise/Javascript_Basics/regex.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 07:24] Swap76 opened #268 "Add Exercise Questions for Some in JavaScript"
Add the Exercise question for Some in docs/Exercise/Javascript_Basics/some.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 07:30] Swap76 opened #269 "Add Exercise Questions for Splice & Slice in JavaScript"
Add the Exercise question for Splice & Slice in docs/Exercise/Javascript_Basics/splice_slice.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 07:31] Swap76 opened #270 "Add Exercise Questions for String Operation in JavaScript"
Add the Exercise question for String Operation in docs/Exercise/Javascript_Basics/string_operation.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 07:32] Swap76 opened #271 "Add Exercise Questions for Switch Case in JavaScript"
Add the Exercise question for Switch Case in docs/Exercise/Javascript_Basics/switch_case.md which can be solved using JavaScript

The question can be open-ended or a task to complete to learn the concept

[2019-10-28 07:38] Swap76 commented on #243
@MoisesTR Sure

[2019-10-28 07:40] #243 closed

[2019-10-28 07:48] Swap76 commented on #186
@jcespinosa Cool

[2019-10-28 07:49] Swap76 commented on #254
@luweina You can add the solution for the If_else Question or add the questions

[2019-10-28 07:50] #187 closed

[2019-10-28 08:02] #256 closed

[2019-10-28 08:04] #253 closed

[2019-10-28 08:05] Swap76 commented on #245
@anuk79 Go Ahead with it

[2019-10-28 08:22] Ahmed-Elbessfy commented on #252
check PR #273

[2019-10-28 08:24] Ahmed-Elbessfy commented on #251
Hi @MoisesTR
It doesn't work like that. You only need to fork the main repository then =>> clone it to your local machine =>> then make changes =>> then check for conflicts =>> then push it back and make a pull request

[2019-10-28 08:54] aenkirch commented on #244
Solved this issue here : https://github.com/Swap76/Learn-JavaScript/pull/275/commits/fb0e70b59f73ef251ca2a276049caa24d9ce803d

[2019-10-28 09:05] Ahmed-Elbessfy commented on #271
check PR #276

[2019-10-28 10:58] #252 closed

[2019-10-28 11:23] Ahmed-Elbessfy commented on #268
check PR #277

[2019-10-28 11:24] Ahmed-Elbessfy commented on #270
what do you mean with string operation? do you mean concatenation?

[2019-10-28 11:42] Ahmed-Elbessfy commented on #263
check PR #278

[2019-10-28 11:56] Swap76 commented on #251
@Ahmed-Elbessfy Very good Explanation I was thinking of making a contribution guide can you take that responsibility on you as you are very good in explaining concepts

[2019-10-28 12:02] #244 closed

[2019-10-28 12:10] Swap76 commented on #270
@Ahmed-Elbessfy Yes Concatenation or any other thing like manipulation etc.

[2019-10-28 12:19] Ahmed-Elbessfy commented on #264
check PR #281

[2019-10-28 12:44] johachi commented on #200
Yes! You will see a PR soon.

[2019-10-28 12:53] Swap76 commented on #200
@johachi Cool take you time

[2019-10-28 13:28] Ahmed-Elbessfy commented on #270
OK I will make a tut for that

[2019-10-28 13:31] Ahmed-Elbessfy commented on #251
OK but we may have to discuss what rules do you want because this is my first time creating a file like this

[2019-10-28 13:59] johachi commented on #200
@Swap76 I'm done. Will check my spelling tomorrow, and then send you a PR.

[2019-10-28 14:25] Swap76 commented on #251
@Ahmed-Elbessfy Yes

[2019-10-28 14:26] Swap76 commented on #200
@johachi Cool super excited for it :-)

[2019-10-28 16:21] anuk79 commented on #245
raised Pr https://github.com/Swap76/Learn-JavaScript/pull/285

[2019-10-28 16:21] anuk79 commented on #269
@Swap76 can I take this up?

[2019-10-28 16:25] nishant-sethi commented on #267
@Swap76 I can take this up.
Thanks

[2019-10-28 16:30] risc12 commented on #266
I'd love to create an MR for this!

[2019-10-28 16:50] risc12 commented on #266
See https://github.com/Swap76/Learn-JavaScript/pull/287

[2019-10-28 19:06] cptcrunchy commented on #265
I'd like to take this one please

[2019-10-28 19:13] woodledoodle opened #289 "Add example for Math.random in math.md"
have en example for Math.random so that it will be consistent with the other examples in the doc.

[2019-10-28 19:41] lajacl commented on #247
PR #290 submitted for this

[2019-10-28 20:10] cryolis commented on #255
I can do this

[2019-10-28 23:10] cee-elle commented on #289
I'd like to try to take this one, could you assign it to me?

[2019-10-29 02:29] lnchapin commented on #241
I'm working on one going over the various types of loops, I saw we have one for looping over objects but have skipped over for loops, do whiles, whiles, etc.

[2019-10-29 03:05] #247 closed

[2019-10-29 03:10] #255 closed

[2019-10-29 03:16] Swap76 commented on #289
@cee-elle Go ahead with it

[2019-10-29 03:20] Swap76 commented on #241
@lnchapin Go ahead with it

[2019-10-29 03:26] #289 closed

[2019-10-29 05:58] geeksesi commented on #254
hi,
where should put the solution ?

[2019-10-29 06:16] geeksesi opened #299 "build-sidebar has error"
hi,
when i try to run this doc.
[code]
npm version : `6.10.3`
node version : `12.10.0`
windows 10

[2019-10-29 07:54] Ahmed-Elbessfy commented on #251
Ok let's my problem first then we will discuss this one

[2019-10-29 13:02] Swap76 commented on #254
@geeksesi In the same file docs/Exercise/JavaScript_Basics/if_else.md

[2019-10-29 13:03] Swap76 commented on #299
@geeksesi I was also facing the same issue after that one person helped me with it that building _sidebar.md will only get build with Node version 13.0.1 i.e latest

It will be cool if you can add this in Readme.md

[2019-10-29 13:19] jyburns commented on #193
@Swap76 Yes! Finishing up and will make the PR today

[2019-10-29 13:50] Swap76 commented on #251
@Ahmed-Elbessfy Cool

[2019-10-29 14:01] Swap76 commented on #193
@jyburns Cool

[2019-10-29 14:16] #245 closed

[2019-10-29 14:17] #189 closed

[2019-10-29 14:26] oliversiket commented on #246
Hi there!
I can take this one and add some exercises.
Can you please assign it to me?

[2019-10-29 15:13] geeksesi commented on #299
i did it.
also a problem has in windows cmd ( cmd can't run `node ./scripts/build-sidebar.js & docsify serve docs` )
must be use as 2 command

[2019-10-29 16:30] #200 closed

[2019-10-29 16:37] #269 closed

[2019-10-29 17:42] zEduardofaria commented on #249
I'd like to take this one!

[2019-10-29 18:23] zEduardofaria commented on #249
Check #311

[2019-10-30 08:06] #249 closed

[2019-10-30 08:25] #251 closed

[2019-10-30 08:26] #265 closed

[2019-10-30 08:26] #266 closed

[2019-10-30 08:26] #246 closed

[2019-10-30 10:50] nishant-sethi commented on #254
@Swap76 can I take this up?

[2019-10-30 10:51] nishant-sethi commented on #186
@Swap76 is it open. Can I take this up?

[2019-10-30 10:51] nishant-sethi commented on #241
@Swap76 I can look into this one.

[2019-10-30 12:24] jyburns commented on #242
@Swap76 Would you consider Array.reduce() a unique advanced topic? I would love to write up an example and some documentation for it.

[2019-10-30 12:40] jyburns commented on #242
Ah, never mind, I see it is under JS Basics already... I would be happy to add Object.keys() or Object.assign() most likely under JS Basics though.

[2019-10-30 13:07] Swap76 commented on #254
@nishant-sethi Yes you can add more questions or answers to existing questions

If adding answers it should be seen after clicking a drop-down button named solutions

[2019-10-30 13:07] Swap76 commented on #186
@nishant-sethi Yes you can add more questions or answers to existing questions

If adding answers it should be seen after clicking a drop-down button named solutions

[2019-10-30 13:09] Swap76 commented on #241
@nishant-sethi Cool let know the missing stuff then I will create an issue for you to start working on it and for keeping track of things

[2019-10-30 13:15] Swap76 commented on #242
@jyburns Actually I wanted to segregate the JavaScript_Basics but due to hacktoberfest many people are contributing to the repo It ok put it in JavaScript Advance.

After some time I will segregate the files

[2019-10-30 13:24] jyburns commented on #242
@Swap76 Sounds good 👍 i'll open up a PR for Object.keys() and another for Object.assign() if that  works.

[2019-10-30 13:51] Swap76 commented on #242
@jyburns Cool

[2019-10-31 03:57] cyh0968 commented on #241
There is no error-handling, I will add error handling part

[2019-10-31 06:48] noel2137 opened #328 "Features Suggestion: Adding reference Seciton"
It will be useful to add a reference section for variety of javascript site. what do you think about it?

[2019-10-31 07:48] cyh0968 commented on #328
I will add it

[2019-10-31 09:51] Ahmed-Elbessfy commented on #270
check PR #331

[2019-10-31 12:20] Swap76 commented on #241
@cyh0968 Cool. Looking Forward to the PR :-)

[2019-10-31 12:32] Swap76 commented on #328
@noel2137 Cool go ahead with it @cyh0968 @noel2137 you both can discuss here and create a references section

[2019-12-04 10:27] #183 closed

[2019-12-04 10:27] #186 closed

[2019-12-04 10:27] #241 closed

[2019-12-04 10:27] #242 closed

[2019-12-04 10:27] #248 closed

[2019-12-04 10:28] #254 closed

[2019-12-04 10:28] #263 closed

[2019-12-04 10:28] #264 closed

[2019-12-04 10:28] #267 closed

[2019-12-04 10:28] #268 closed

[2019-12-04 10:28] #270 closed

[2019-12-04 10:28] #271 closed

[2019-12-04 10:34] Swap76 commented on #328
Added References to Readme file

[2019-12-04 10:34] #328 closed

[2020-06-22 13:48] paullaffitte commented on #183
Is the documentation now available online? I just read the readme and didn't find any link about it.

[2020-06-22 15:51] Swap76 commented on #183
@paullaffitte I have made changes & deployed on GitHub pages now only.
link:- swap76.github.io/learn-javascript/